/* * {
  padding: 0;
  margin: 0;
} */
@font-face {
    font-family: Socialico;
    src: url(../fonts/socialico.ttf);
}

@font-face {
    font-family: Socialico;
    src: url(../fonts/socialico.eot);
}

.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
}

.main-header {
    width: 100%;
    /*паддинг нижний из-за ширины стироки в ul должен быть меньше*/
    padding: 50px 50px 42px 50px;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    background-color: #445162;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    width: 458px;
    /* размеры по макету */
    float: left;
}

.main-header-title {
    display: block;
    /*маржин тоже меньше, из-за ширины строки в ul*/
    margin: 0 0 43px 0;
    font-size: 59px;
    line-height: 44px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
}

.main-header-list {
    margin: 0 0 0 0;
    padding: 0 0 0 36px;
    list-style: none;
}

.main-header-list-item {
    position: relative;
    font-size: 20px;
    line-height: 36px;
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.3);
}

.main-header-list-item:before {
    content: "";
    width: 25px;
    height: 19px;
    position: absolute;
    top: 8px;
    left: -36px;
    background-image: url(../img/check%20icon.png);
}

.main-header-img {
    display: block;
    width: 469px;
    height: 214px;
    float: right;
    background-color: #fff;
}

.about-product {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}

.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about-product-wrp {
    width: 653px;
    float: left;
}

.about-product-title {
    display: block;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
    margin: 0 0 24px 0;
}

.about-product-p {
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    margin: 0 0 11px 0;
}

.about-product-p:last-child {
    margin:0;
}


.about-product-video {
    display: block;
    width: 430px;
    height: 245px;
    background-color: #445161;
    float: right;
}

.dignity {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.dignity-title {
    width: 100%;
    display: block;
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
}

.dignity-item-wrp {
    width: 50%;
    box-sizing: border-box;
}

.dignity-item {
    width: 100%;
    min-height: 30px;
    margin: 0 0 20px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.dignity-item:last-child {
    margin:0;
}

details summary::-webkit-details-marker {
  display: none
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

.dignity-item-title {
    display: block;
    outline: none;
    position: relative;
}

.dignity-item-title:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #fff;
    font-size: 42px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 5px;
    left: -40px;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.screenshots {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.screenshots-title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    color: #445161;
    margin: 0 0 35px 0;
}

.screenshots-item {
    width: 50%;
    margin: 0 0 30px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
    margin: 0;
}

.screenshots-photo {
    display: block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    margin: 0 20px 0 0;
}

.screenshots-item-txt {
    width: 63%;
    box-sizing: border-box;
}

.screenshots-item-txt h3 {
    margin: -6px 0 7px 0;
    color: #445161;
    font-size: 24px;
    line-height: 1.25;
    font-weight: normal;
}

.screenshots-item-txt p {
    margin: 0 0 0 0;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
}

.reviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 0.7;
    margin: 0 0 35px 0;
    color: #445161;
}

.reviews-block {
    width: 50%;
    display: flex;
    margin: 0 0 24px 0;
}

.reviews-block:nth-child(4) {
    margin-bottom: 0;
}

.reviews-block:nth-child(5) {
    margin-bottom: 0;
}

.reviews-block-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #445161 url();
    
}

.reviews-block-txt {
    font-size: 14px;
    font-style: italic;
    line-height: 1.29;
    color: #333333;
    background-color: #ebebeb;
    margin: 0 0 0 30px;
    padding: 16px 20px 16px 13px;
    width: 75%;
    position: relative;
}

.reviews-block-txt span {
    display: block;
    font-style: normal;
    color: #989898;
    margin: 15px 0 0 0;
    line-height: 0.7;
}

.reviews-block-txt:before {
    content: "";
    position: absolute;
    border: 14px solid transparent;
    border-right: 14px solid #ebebeb;
    top: 28px;
    left: -28px;
}

.buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.buy-title {
    display: block;
    width: 100%;
    line-height: 0.75;
    align-self: flex-start;
    text-align: center;
    margin: 0 0 29px 0;
    font-size: 30px;
    color: #445161;
}

.buy-card {
    border: 2px solid #445161;
    width: 300px;
    background-color: #445161;
    box-sizing: border-box;
    border-radius: 1.5%;
}

.buy-card-title {
    display: block;
    font-size: 24px;
    color: #ffffff;
    line-height: 0.7;
    text-align: center;
    width: 100%;
    padding: 17px 0;
    
}

.buy-card-span {
    display: block;
    font-size: 40px;
    color: #445161;
    line-height: 0.75;
    text-align: center;
    width: 100%;
    padding: 18px 0;
    margin: 0 0 14px 0;
    background-color: #ffffff;
}

.buy-card-list {
    list-style-position: inside;
    margin: 0 0 15px 0;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
}

.buy-button {
    display: block;
    background-color: #ffffff;
    width: 260px;
    text-align: center;
    border-radius: 5px;
    color: #445161;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 auto 20px;
    padding: 14px 0;
    line-height: 0.75;
    font-size: 14px;
    font-weight: bold;
}

.buy-button:hover {
    background-color: #556273;
    color: #ffffff;
}

.buy-button:active {
    background-color: #ffffff;
    color: #445161;
}
.contacts {
    background-color: #445161;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.contacts-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    line-height: 0.75;
    margin: 0 0 30px 0;
    
}

.contacts-form {
    min-height: 354px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacts-form-name,
.contacts-form-email,
.contacts-form-message {
    width: 100%;
    font-size: 16px;
    color: #445162;
    line-height: 1.5;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 8px 10px 8px 10px;
}

.contacts-form-name {
    text-transform: capitalize;
}

.contacts-form-message {
    font-family: Arial;
    min-height: 170px;
    resize: none;
}

.contacts-form-submit {
    font-size: 16px;
    color: #445162;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: bold;
    padding: 8px 48px 8px 48px;
}

.contacts-form-submit:hover {
    color: #ffffff;
    background-color: #556273;
}

.contacts-form-submit:active {
   color: #445162;
    background-color: #ffffff;
}

.contacts-callback {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 50px;
}

.callback-span {
    display: flex;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin: 0 0 17px 0;
}

.callback-span:nth-child(1):before {
    content: '';
    margin: 0 5px 0 0;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../icons/skype%20icon.png);
    background-position: center;
    background-repeat: no-repeat;
        
}
.callback-span:nth-child(2):before {
    content: '';
    margin: 0 5px 0 0;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../icons/icq_icon.png);
    background-position: center;
    background-repeat: no-repeat;  
}
.callback-span:nth-child(3):before {
    content: '';
    margin: 0 5px 0 0;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../icons/email_icon.png);
    background-position: center;
    background-repeat: no-repeat;   
}
.callback-span:nth-child(4):before {
    content: '';
    margin: 0 5px 0 0;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../icons/phone_icon.png);
    background-position: center;
    background-repeat: no-repeat;
}
.callback-social {
    display: flex;
    margin: 15px 0 0 0;
}

.social-a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 60px;
    line-height: 0.75;
    text-align: center;
    font-family: Socialico;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-decoration: none;
}

.social-a:hover {
    color: #ffffff;
    text-transform: uppercase;
}

.copyright {
   width: 100%; 
}

.copyright-footer {
    display: block;
    margin: 0;
    padding: 10px 0 5px 0;
    width: 100%;
    font-size: 12px;
    line-height: 0.75;
    letter-spacing: 0.3px;
    color: #445162;
    text-align: center;
}

.copyright-footer-a {
    text-decoration: none;
    color: #445162;
}

.copyright-footer-a:hover {
    color: #333333;
}

.copyright-footer-a:active {
    color: #000000;
}

